{
  "presets": ["react", "env", "stage-1"],
  "env": {
       "server": {
           "plugins": [
               [
                   "css-modules-transform", {
                       "generateScopedName": "[hash:8]",
                       "extensions": [".css"]
                   }
               ]
           ]
       }
   }
}
